
//Colors
$col-w: #fff;
$col-black :#000;

$col-pri: #414a65;
$col-sec: #3072b8;
$col-ter: #6e95c5;

$col-ing-lb:#76beea;
$col-ing-green:#84bf63;
$col-ing-or: #e7755f;
$col-ing-turq:#4f9aab;
$col-ing-br: #988984;

$col-grey-1 : #c3c2c2;
$col-grey-2: #2c2c2c;

//Fonts
$font-dosis: 'Dosis', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;



