.challenge-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
   
}

.challenge-header {
    margin-bottom: 5rem;
    &__img-cont {
      margin-bottom: 2rem;
    }

    &__img {
        max-height: 35rem;
        width: auto;
        width: 100%;
    }

    &__title {
        font-size: 4rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.3em;
    }

    
    &__welcome {
        text-align: left;
    }
}

.challenge-table {
    flex: 0 0 100%;

    &__head,
    &__preview {
        display: flex;
    }

    &__head-item {
        background-color: $col-sec;
        display: flex;
        align-items: center;

        &:not(:last-child){
            border-right: solid 1px $col-w;
        }
    }    

    &__head-item--title,
    &__preview-item--title {
        flex: 1 0 0;  
        padding: 2rem;
    }

    &__head-item--progress,
    &__preview-item--progress {
        flex: 0 0 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__head-item--units,
    &__preview-item--units {
        flex: 0 0 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__head-item-title {
        color: $col-w;
        text-transform: uppercase;
        font-size: 2rem;
        font-family: $font-open-sans;
    }

    &__head-item--btn-cont,
    &__preview-item--btn-cont {
        flex: 0 0 6.6rem;
    }
}


.challenge{

   
    &__preview {
        display: flex;
        border-bottom: solid 1px $col-grey-1;
        border-left: solid 1px $col-grey-1;
        border-right: solid 1px $col-grey-1;
    }

    &__preview-item{ 
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-family: $font-open-sans;
        &:not(:last-child){
            border-right: 1px solid $col-grey-1;
        }
    }    

   
    &__preview-item--title {
        flex: 1 0 0;  
        padding: 2rem;
   
    }

   
    &__preview-item--progress {
        flex: 0 0 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   
    &__preview-item--units {
        flex: 0 0 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    &__preview-item--btn-cont {
        flex: 0 0 6.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__arrow-icon {
        font-size: 3rem;
        transform: rotate(90deg);
        color:$col-sec;
        transition: all .5s;

        &--close {
            transform: rotate(-90deg);
        }
    }

    &__content {
        display: none;
        padding: 8rem 0 8rem 2rem;
        overflow: hidden;
        position: relative;
        border-right: solid 1px $col-grey-1;
        border-left: solid 1px $col-grey-1;
        border-bottom: solid 1px $col-grey-1;
    }

    &__milestones-cont {
        position: absolute;
        top: 0;
        left: 0rem;
        margin: 2rem;
        height: calc(100% - 4rem);
        width: calc(100% - 27rem);
    }
   
}

.milestone {
    position: relative;
    transition: all 1s;

    &__prize {
        display: block;
        margin: 0 auto .5rem;
        width: auto;
        height: 100%;
        opacity: .3;

        &--active {
            opacity: 1;
        }
    }

    &__title,
    &__sub,
    &__target {
        text-align: center;
    }

    &--final {
        width: 25rem;
        max-height: 20rem;        
        margin-left: auto;
    }

    &--step {
        max-width: 8rem;
        max-height: 8rem;
        position: absolute;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;      
    }

    &--step-active {
        opacity: 1;
        visibility: visible;
    }

    &--step-1 {
        top:0;
    }
    &--step-2 {
        bottom:1rem;
    }
    &--step-3 {
        top:0;
    }
 

    &__complete {
        position: absolute;
        width: 120%;
        height: 120%;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s;

        &--active {
            opacity: 1;
            visibility: visible;
        }
    }

    &--step &__complete {
        width: 160%;
        height: 160%;
    }

    &__canvas {
        width: 100%;
        height: 100%;
    }

   
}

.progress-bar {
    position: absolute;
    top: 50%;
    left: 2rem;
    width: calc(100% - 27rem);
    transform: translateY(-50%);
    height: 4rem;
    border: solid 1px #6e95c5;
    border-radius: 20px;
    overflow: hidden;

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        background-color: $col-ter;
        height: calc(4rem - 2px);
        transition: all 1s;
    }
}