.header {
    display: flex;
    justify-content: space-between;    
    padding:3rem 1rem;

    &__logo-cont {
        max-width: 30rem;
    }

    &__ingram-logo-cont {
        max-width: 18rem;
        margin-bottom: 1rem;
    }

    

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }
}

.dash {
    display: flex;
    flex: 1 0 0;
    flex-wrap: wrap;
    flex-direction: column;


    &__info {        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: $col-grey-2;  
        padding: 1.6rem 0;
        border-bottom: solid 1px #454545;
    }

    &__message, &__notification {
        padding-right: 2rem;
        margin-right: 3rem;        
        position: relative;
    }

    &__notification-icon,
    &__message-icon {
        display: inline-block;
        font-size: 2.5rem;
        color: #ffffff;
    }

    &__notification-num,
    &__message-num {        
        font-family: $font-open-sans;
        font-size: 1.2rem;
        color: #ffffff;
      
        width: .8rem;
        line-height: .8rem;
        height: .8rem;
        padding: .8rem;

        position: absolute;
        right: 1rem;
        top:0;
        transform: translateY(-50%);
        
        display: flex;
        align-items: center;
        justify-content: center;       

        background-color: $col-ter;
        border-radius: 50%;
    }

    &__user-name {
        color:$col-w;
    }

    &__interface{
        flex: 1 0 0;
        display: flex;
    }

    &__user-cont {
        display: flex;
        align-items: center;
    }

    &__user-img-cont {
        flex: 0 0 3.5rem;
        margin-left: 1rem;
    }

    &__nav {
        background-color: $col-grey-2;     
        overflow-y: scroll;   
    }

    &__nav-ul {
        list-style-type: none;
    }

    &__sub-nav {
        display: none;
        list-style-type: none;
       

    }

    &__nav-li {
        border-bottom: solid 1px #454545;

        &--sub {
            border-color: transparent;            
        }

       

    }

    &__nav-link {

        &,
        &:link,
        &:visited {
            font-size: 1.5rem;
            color: #ffffff;
            font-weight: 300;
            padding: 2rem;

            display: flex;
            justify-content: flex-start;
            align-items: center;   
        }

        &:hover {
            background-color: #454545;
        }

        &--indent {
            margin-left:3rem;
        }
        

    }

    &__nav-link-text {        
        margin: 0 4rem 0 1rem;
    }

    &__nav-icon {
        font-size: 1.3rem;
        color: $col-w;
    }

    &__nav-link-drop-icon {
        margin-left: auto;
        font-size: 1rem !important;
        color: $col-w;
    }

    &__content {
        background-color: #e2e2e2;
        padding: 2rem;
        flex: 1 0 0;
        overflow-y: scroll;
    }
}

.login {
    text-align: center;
}