@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; }

img {
  width: 100%;
  height: auto; }

::selection {
  background-color: #414a65;
  color: #fff; }

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 0; }

#dashboard {
  display: block;
  margin-bottom: 4rem; }

/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Dosis', sans-serif;*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  color: #414a65; }

p, a, li, i, label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  color: #414a65; }

a {
  text-decoration: none; }

.title {
  font-size: 2.6rem;
  font-weight: 400; }
  .title--small {
    font-size: .5em; }

.sub-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.success {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #00af00;
  text-decoration: underline;
  margin-bottom: 2rem; }

.u-wrap {
  position: relative;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto; }

.u-hide {
  display: none !important; }

.u-center {
  text-align: center !important; }

.u-mar-b__huge {
  margin-bottom: 6rem !important; }

.u-mar-b__lrg {
  margin-bottom: 4rem !important; }

.u-mar-b__med {
  margin-bottom: 3rem !important; }

.u-mar-b__sml {
  margin-bottom: 2rem !important; }

.u-mar-b__tiny {
  margin-bottom: 1rem !important; }

.u-rotate-90 {
  transform: rotate(-90deg); }

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem; }
  .header__logo-cont {
    max-width: 30rem; }
  .header__ingram-logo-cont {
    max-width: 18rem;
    margin-bottom: 1rem; }
  .header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around; }

.dash {
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  flex-direction: column; }
  .dash__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2c2c2c;
    padding: 1.6rem 0;
    border-bottom: solid 1px #454545; }
  .dash__message, .dash__notification {
    padding-right: 2rem;
    margin-right: 3rem;
    position: relative; }
  .dash__notification-icon, .dash__message-icon {
    display: inline-block;
    font-size: 2.5rem;
    color: #ffffff; }
  .dash__notification-num, .dash__message-num {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    width: .8rem;
    line-height: .8rem;
    height: .8rem;
    padding: .8rem;
    position: absolute;
    right: 1rem;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e95c5;
    border-radius: 50%; }
  .dash__user-name {
    color: #fff; }
  .dash__interface {
    flex: 1 0 0;
    display: flex; }
  .dash__user-cont {
    display: flex;
    align-items: center; }
  .dash__user-img-cont {
    flex: 0 0 3.5rem;
    margin-left: 1rem; }
  .dash__nav {
    background-color: #2c2c2c;
    overflow-y: scroll; }
  .dash__nav-ul {
    list-style-type: none; }
  .dash__sub-nav {
    display: none;
    list-style-type: none; }
  .dash__nav-li {
    border-bottom: solid 1px #454545; }
    .dash__nav-li--sub {
      border-color: transparent; }
  .dash__nav-link, .dash__nav-link:link, .dash__nav-link:visited {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 300;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .dash__nav-link:hover {
    background-color: #454545; }
  .dash__nav-link--indent {
    margin-left: 3rem; }
  .dash__nav-link-text {
    margin: 0 4rem 0 1rem; }
  .dash__nav-icon {
    font-size: 1.3rem;
    color: #fff; }
  .dash__nav-link-drop-icon {
    margin-left: auto;
    font-size: 1rem !important;
    color: #fff; }
  .dash__content {
    background-color: #e2e2e2;
    padding: 2rem;
    flex: 1 0 0;
    overflow-y: scroll; }

.login {
  text-align: center; }

@keyframes milestone-pulse {
  0% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: .3; }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: .8; }
  100% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: .3; } }

.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  border: 0;
  padding: .8rem 4rem;
  color: #fff;
  background-color: #6e95c5;
  cursor: pointer; }

.btn-right {
  text-align: right; }

.form {
  display: inline-block; }
  .form__group {
    margin-bottom: 1.5rem; }
  .form__label {
    width: 100%;
    display: block;
    margin-bottom: .5rem;
    text-align: left; }
  .form__input, .form__select {
    font-size: 1.4rem;
    color: #414a65;
    width: 37rem;
    border: solid 1px #c3c2c2;
    padding: .9rem 1rem;
    border-radius: .4rem; }
    .form__input:focus, .form__select:focus {
      outline: none;
      border: solid 1px #6e95c5; }
  .form__error {
    margin-top: 1rem;
    font-size: 12px;
    color: red;
    display: none;
    line-height: 1.4em; }
    .form__error--active {
      display: block; }
  .form__error-link {
    font-size: 12px;
    color: red;
    text-decoration: underline; }

.country-select {
  position: relative;
  display: flex; }
  .country-select__logout-link {
    font-size: 1.4rem;
    display: flex;
    align-self: flex-end;
    opacity: 0;
    visibility: hidden; }
    .country-select__logout-link--active {
      opacity: 1;
      visibility: visible; }
  .country-select__link {
    display: flex;
    align-items: center;
    text-decoration: none; }
  .country-select__icon {
    margin-right: .6rem;
    font-size: 1.2rem; }
  .country-select__dropdown {
    overflow: hidden;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 2rem;
    left: 0;
    transform: translateY(100%);
    list-style-type: none;
    text-align: right;
    transition: all .4s;
    opacity: 0;
    visibility: hidden; }
    .country-select__dropdown--open {
      bottom: -1rem;
      height: auto;
      opacity: 1;
      visibility: visible;
      overflow: visible; }
  .country-select__dropdown-item {
    color: #3072b8;
    font-size: 1.6rem; }
    .country-select__dropdown-item:not(:last-child) {
      margin-bottom: .9rem; }
  .country-select__dropdown-link {
    color: inherit;
    font-size: inherit; }

.challenge-wrapper {
  flex-wrap: wrap;
  flex-direction: row; }

.challenge-header {
  margin-bottom: 5rem; }
  .challenge-header__img-cont {
    margin-bottom: 2rem; }
  .challenge-header__img {
    max-height: 35rem;
    width: auto;
    width: 100%; }
  .challenge-header__title {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 2rem; }
  .challenge-header__text {
    font-size: 1.8rem;
    line-height: 1.3em; }
  .challenge-header__welcome {
    text-align: left; }

.challenge-table {
  flex: 0 0 100%; }
  .challenge-table__head, .challenge-table__preview {
    display: flex; }
  .challenge-table__head-item {
    background-color: #3072b8;
    display: flex;
    align-items: center; }
    .challenge-table__head-item:not(:last-child) {
      border-right: solid 1px #fff; }
  .challenge-table__head-item--title, .challenge-table__preview-item--title {
    flex: 1 0 0;
    padding: 2rem; }
  .challenge-table__head-item--progress, .challenge-table__preview-item--progress {
    flex: 0 0 14rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .challenge-table__head-item--units, .challenge-table__preview-item--units {
    flex: 0 0 14rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .challenge-table__head-item-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif; }
  .challenge-table__head-item--btn-cont, .challenge-table__preview-item--btn-cont {
    flex: 0 0 6.6rem; }
  .challenge-table__body {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 2; }

.challenge--preview-page {
  padding-top: 6rem; }

.challenge__preview {
  display: flex;
  border-bottom: solid 1px #c3c2c2;
  border-left: solid 1px #c3c2c2;
  border-right: solid 1px #c3c2c2; }

.challenge__preview-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif; }
  .challenge__preview-item:not(:last-child) {
    border-right: 1px solid #c3c2c2; }

.challenge__preview-item--title {
  flex: 1 0 0;
  padding: 2rem; }

.challenge__preview-item--progress {
  flex: 0 0 14rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.challenge__preview-item--units {
  flex: 0 0 14rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.challenge__preview-item--btn-cont {
  flex: 0 0 6.6rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.challenge__arrow-icon {
  font-size: 3rem;
  transform: rotate(90deg);
  color: #3072b8;
  transition: all .5s; }
  .challenge__arrow-icon--close {
    transform: rotate(-90deg); }

.challenge__content {
  display: none;
  padding: 15rem 0 15rem 2rem;
  overflow: hidden;
  position: relative;
  border-right: solid 1px #c3c2c2;
  border-left: solid 1px #c3c2c2;
  border-bottom: solid 1px #c3c2c2; }

.challenge__milestones-cont {
  position: absolute;
  top: 0;
  left: 0rem;
  margin: 2rem;
  height: calc(100% - 4rem);
  width: calc(100% - 27rem); }

.milestone {
  position: relative;
  transition: all 1s; }
  .milestone__prize {
    max-width: 8rem;
    max-height: 8rem;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto .5rem;
    width: auto;
    height: auto;
    opacity: .3; }
    .milestone__prize--active {
      opacity: 1; }
    .milestone__prize--final {
      max-width: 20rem;
      max-height: 100%;
      height: auto; }
  .milestone__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2;
    text-transform: uppercase; }
  .milestone__sub {
    margin-bottom: .5rem; }
  .milestone__title, .milestone__sub, .milestone__target {
    text-align: center; }
  .milestone--final {
    width: 25rem;
    max-height: 20rem;
    margin-left: auto; }
  .milestone--step {
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden; }
  .milestone--step-active {
    opacity: 1;
    visibility: visible;
    height: 43%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .milestone--step-1 {
    top: 0; }
  .milestone--step-2 {
    bottom: 0;
    justify-content: flex-start; }
  .milestone--step-3 {
    top: 0; }
  .milestone__complete {
    position: absolute;
    width: 120%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 1s; }
    .milestone__complete--active {
      opacity: 1;
      visibility: visible; }
  .milestone--step .milestone__complete {
    width: 160%;
    height: 160%; }
  .milestone__canvas {
    width: 100%;
    height: 100%; }

.progress-bar {
  position: absolute;
  top: 50%;
  left: 2rem;
  width: calc(100% - 27rem);
  transform: translateY(-50%);
  height: 4rem;
  border: solid 1px #6e95c5;
  border-radius: 20px;
  overflow: hidden; }
  .progress-bar__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #6e95c5;
    height: calc(4rem - 2px);
    transition: all 1s; }

.table {
  width: 100%; }
  .table--small {
    width: 50rem; }
  .table th {
    padding: 1rem;
    background-color: #2c2c2c;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem; }
  .table th,
  .table td {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .table td {
    font-size: 1.1rem;
    text-align: left;
    padding: 1rem 2rem;
    border: solid 1px #eeeeee; }
  .table__btn {
    display: inline-block;
    background-color: #6e95c5;
    margin-right: .5rem;
    padding: .2rem 1rem;
    color: #fff;
    text-transform: uppercase; }
  .table__overflow-cell {
    max-height: 5rem;
    overflow-y: scroll; }

.dash-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .dash-form--admin {
    max-width: 42rem; }
  .dash-form__form-group {
    display: flex;
    width: 100%; }
    .dash-form__form-group--submit {
      justify-content: flex-end; }
    .dash-form__form-group--hide {
      display: none; }
    .dash-form__form-group:not(:last-child) {
      margin-bottom: 1rem; }
  .dash-form__label {
    flex: 0 0 22rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600; }
    .dash-form__label--admin {
      flex: 0 0 14rem; }
    .dash-form__label--top {
      align-self: flex-start;
      margin-top: 1rem; }
  .dash-form__select, .dash-form__input {
    flex-grow: 1;
    font-size: 1.4rem;
    padding: .5rem 1rem;
    border: solid 1px #c3c2c2;
    background-color: #fff;
    border-radius: 3px; }
  .dash-form__input--hide {
    display: none; }
  .dash-form__error {
    font-size: 1.2rem;
    color: red;
    margin: 0 0 2rem 22rem;
    display: none; }
    .dash-form__error--active {
      display: block; }
  .dash-form__icon {
    height: 4rem;
    width: auto; }
  .dash-form__current-file {
    display: flex;
    align-items: center;
    margin-right: 1rem; }
  .dash-form__submit {
    background-color: #6e95c5;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 300;
    padding: .5rem 4rem;
    margin-top: 0;
    display: block;
    text-align: center;
    min-width: 20rem; }
    .dash-form__submit--default {
      padding: .5rem 1rem;
      font-size: 1.4rem; }
  .dash-form__checkbox {
    margin-left: auto; }
  .dash-form__partner-option {
    display: none; }
    .dash-form__partner-option--active {
      display: block; }
  .dash-form__participants-cont {
    max-height: 20rem;
    overflow-y: scroll;
    border: solid 1px #c3c2c2;
    background-color: #fff;
    border-radius: 3px;
    padding: .5rem 1rem;
    display: none; }
    .dash-form__participants-cont--active {
      display: block; }
  .dash-form__participant {
    display: flex; }
    .dash-form__participant:not(:last-child) {
      margin-bottom: 1rem; }
  .dash-form__participant-label {
    margin-right: 2rem;
    font-size: 1.4rem;
    color: #414a65; }
  .dash-form__milestone {
    width: calc(100% - 22rem);
    margin-left: 22rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: solid 1px #c3c2c2;
    display: none; }
    .dash-form__milestone--active {
      display: block; }
    .dash-form__milestone:first-of-type {
      padding-top: 3rem; }
  .dash-form__header-img-cont {
    position: relative;
    max-width: 50%;
    max-height: 30rem;
    margin-bottom: 2rem; }
  .dash-form__header-img {
    height: 100%;
    width: auto; }
  .dash-form__header-img-delete {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    color: #fff;
    background-color: red;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem; }

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333; }

.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold; }

.ui-datepicker {
  width: auto;
  min-width: 30rem; }

.ui-datepicker-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.ui-datepicker span {
  display: block !important;
  position: static !important;
  left: auto !important;
  margin-left: 0 !important;
  top: auto !important;
  margin-top: 0 !important;
  font-size: 1.4rem !important;
  line-height: 1.7em !important; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  display: flex;
  justify-content: center;
  align-items: center; }

.ui-datepicker .ui-datepicker-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0 !important; }
